<body>
<div class="table">
  <table>
    <thead>
      <tr>
        <th>Player ONE</th>
        <th>Player TWO</th>
        <th>Location</th>
        <th>Match date</th>
        <th>Player ONE set 1</th>
        <th>Player TWO set 1</th>
        <th>Player ONE set 2</th>
        <th>Player TWO set 2</th>
        <th>Player ONE set 3</th>
        <th>Player TWO set 3</th>
        <th>Player ONE set 4</th>
        <th>Player TWO set 4</th>
        <th>Player ONE set 5</th>
        <th>Player TWO set 5</th>
        <th>Scratched</th>
        <th>Winner</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <td>{{match.player1}}</td>
        <td>{{match.player2}}</td>
        <td>{{match.location}}</td>
        <td>{{match.dateTime}}</td>
        <td>{{match.player1_set1}}</td>
        <td>{{match.player2_set1}}</td>
        <td>{{match.player1_set2}}</td>
        <td>{{match.player2_set2}}</td>
        <td>{{match.player1_set3}}</td>
        <td>{{match.player2_set3}}</td>
        <td>{{match.player1_set4}}</td>
        <td>{{match.player2_set4}}</td>
        <td>{{match.player1_set5}}</td>
        <td>{{match.player2_set5}}</td>
        <td>{{match.scratched}}</td>
        <td>{{match.winner}}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>