table {
    top: 100px;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    font-weight: bold;
    background: #fff;
    margin-bottom: 150px;
    position: fixed;
}

th, td {
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: linear-gradient(to right, #00ff51, #00ff512b);
    border-radius: 15px;
}

tr:nth-child(even) {
    background-color: lightgreen
}

tr:hover {
    background-color: #f1f1f1;
}