body {
    margin-left: 100px;
}
h2 {
top: 100px;
position: relative;
font-size: 2rem;
text-decoration: underline hotpink;
}
.league {
    display: flex;
    position: relative;
}
.league-table {
    top: 150px;
    width: 40%;
    border-collapse: collapse;
    font-weight: bold;
    background: #fff;
    margin-bottom: 150px;
    position: fixed;
    font-size: 0.9rem;
}
.league-td {
    text-align: center;
    padding: 10px;
}
.league-th {
    background: linear-gradient(to right, #ea00ffa0, #fb00ff3a);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}
.league-tr:nth-child(odd) {
    background-color: #f700ff18
}
.league-tr:hover {
    background-color: #f1f1f1;
}
