<body>
	<ul class="nav nav-pills justify-content-center" id="ex1" role="tablist">
		<li class="nav-item" role="presentation">
			<!-- ngClass: Dynamically sets the CSS class based on the condition. If active == 'login', the class 'nav-link active' is applied; otherwise, just 'nav-link'.-->
			<button [ngClass]="active == 'login' ? 'nav-link active' : 'nav-link'" id="tab-login"
				(click)="onLoginTab()">Login</button>
		</li>
		<li class="nav-item" role="presentation">
			<button [ngClass]="active == 'register' ? 'nav-link active' : 'nav-link'" id="tab-register"
				(click)="onRegisterTab()">Register</button>
		</li>
	</ul>
	<!--Login-->
	<div class="tab-content">
		<div [ngClass]="active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'">
			<form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm">
				<mat-form-field>
					<input matInput type="login" id="loginName" name="login" class="form-control" [(ngModel)]="login" />
					<mat-label class="form-label" for="loginName">Username</mat-label>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password" />
					<mat-label class="form-label" for="loginPassword">Password</mat-label>
				</mat-form-field>
				<button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
			</form>
		</div>
		<!--Register-->
		<div [ngClass]="active == 'register' ? 'tab-pane fade show active' : 'tab-pane fade'">
			<form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
				<mat-form-field>
					<input matInput type="text" id="username" name="username" class="form-control"
						[(ngModel)]="username" />
					<mat-label class="form-label" for="username">Username</mat-label>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" id="registerPassword" name="password" class="form-control"
						[(ngModel)]="password" />
					<mat-label class="form-label" for="registerPassword">Password</mat-label>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="text" id="role" name="role" class="form-control" [(ngModel)]="role" />
					<mat-label class="form-label" for="role">Role</mat-label>
				</mat-form-field>
				<button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
			</form>
		</div>
	</div>
</body>