<body>
  <marquee behavior="scroll" direction="left" class="marquee">
    <img src="assets/Images/tenis1.png" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis2.jpg" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis3.jpg" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis4.png" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis5.jpg" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis6.png" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis7.png" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis8.jpg" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis9.png" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis10.png" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis11.png" class="user-image" alt="Tenis" />
    <img src="assets/Images/tenis12.png" class="user-image" alt="Tenis" />
  </marquee>
</body>