body {
    width: 100%;
    height: 1000%;

}

h1 {
    position: relative;
    font-size: 30px;
    top: 100px;
    left: 150px;
    text-decoration: underline overline hotpink;
}

.text {
    position: relative;
    top: 100px;
    left: 150px;
}

.user-image {
    position: relative; 
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.comment {
    position: relative;
    top: 50px;
    left: 150px;
    width: 600px;
}

.single-comment { 
    background-color: #8EC5FC;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    position: relative;
    display: flex;
    border-style: outset;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px;
    margin: 15px 0px 10px 30px;
}
